.card {
  padding: 1rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #125b50;
  padding: 1rem;
  border-radius: 5px;
}

.voteButton {
  border: none;
  padding: 1rem 2rem;
  margin-top: 2rem;
  background-color: #125b50;
  color: aliceblue;
  border-radius: 5px;
  cursor: pointer;
}

.voteButton:hover {
  background-color: #3a7068;
}
